@model OfficePortal.Models.Employee_Models.SocialStatusForm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SocialStatusForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BayanatiNumber" class="control-label"></label>
                <input asp-for="BayanatiNumber" class="form-control" />
                <span asp-validation-for="BayanatiNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpouseFullName" class="control-label"></label>
                <input asp-for="SpouseFullName" class="form-control" />
                <span asp-validation-for="SpouseFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpouseWorkplace" class="control-label"></label>
                <input asp-for="SpouseWorkplace" class="form-control" />
                <span asp-validation-for="SpouseWorkplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpouseDateOfMarriage" class="control-label"></label>
                <input asp-for="SpouseDateOfMarriage" class="form-control" />
                <span asp-validation-for="SpouseDateOfMarriage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpouseDateOfEmployment" class="control-label"></label>
                <input asp-for="SpouseDateOfEmployment" class="form-control" />
                <span asp-validation-for="SpouseDateOfEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildren" class="control-label"></label>
                <input asp-for="NumberOfChildren" class="form-control" />
                <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SonName" class="control-label"></label>
                <input asp-for="SonName" class="form-control" />
                <span asp-validation-for="SonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonForChange" class="control-label"></label>
                <input asp-for="ReasonForChange" class="form-control" />
                <span asp-validation-for="ReasonForChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfChange" class="control-label"></label>
                <input asp-for="DateOfChange" class="form-control" />
                <span asp-validation-for="DateOfChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form_Type" class="control-label"></label>
                <input asp-for="Form_Type" class="form-control" />
                <span asp-validation-for="Form_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
